/* apollo-homestyles.css */
body {
    background-image: url(brandon-holmes-GofYo51GQ_4-unsplash.jpg);
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

/* Animation and transformations for services */
@keyframes changeServices {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.service-images {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.service-images img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    animation: changeServices 5s infinite;
}

/* apollo-homestyles.css */

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    padding: 20px;
    background-color: white;
}

/* apollo-homestyles.css */

/* Define common styles for forms */
.form-container {
    position: fixed;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    border: 2px solid black;
    padding: 20px;
    background-color: white;
    animation: slideIn 0.5s ease; /* Apply animation */
}

/* Animation for sliding in */
@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(-50%);
        opacity: 1;
    }
}




